h1{ text-align: center;}
.fa{margin: right 25px;}
input{padding: 10px  15px
     ;margin 15px 
     ;border: 4px saddlebrown;
    }
div{width: 77%;
background-color: brown;
padding: 50px;
margin-top: 20px;}
   ics{width: 70%;
        border: 1px saddlebrown;
}

.ics{background-color: aqua;
    color: white;
    padding: 10px;
    border-radius: 9px;
    }
    .fsc{width: 5%;
    background-color: aqua;}
    
 background-color: black;
font-family: 'Times New Roman', Times, serif  ;
font-weight: 700;
    }
    #a{background-color: aqua;        
        font-family: 'Times New Roman', Times, serif  ;
        font-weight: 700;
            }   
            #m{background-color: aqua ;
                font-family: 'Times New Roman', Times, serif  ;
                font-weight: 700;
                    }
                    #s{background-color: aqua ;
                        font-family: 'Times New Roman', Times, serif  ;
                        font-weight: 700;
                            }
                            #e{ background-color: aqua;
                                font-family: 'Times New Roman', Times, serif  ;
                                font-weight: 700;
                                    }

                                    #h{background-color: aqua;
                                        font-family: 'Times New Roman', Times, serif  ;
                                        font-weight: 700;
                                            }
        

